:root {
  --app-bg-dark: #17141d;
  --app-bg-before: #17141d;
  --app-bg-before-2: #100E17;
  --nav-link: #5e6a81;
  --list-item-hover: #0c1635;
  --main-color: #eee;
  --secondary-color: #5e6a81;
  --color-light: rgba(52, 129, 210, .2);
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg: #fed8b3;
  --draft-icon: #e9780e;
  --gray-links: #b2b2b2;
  --active-tab: #170058;
  --color-profile: #CFCFCF;
  --profile-false: #450400;
  --profile-true: #004103;
}
.menu-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_name_nav{
  margin: 2px 10px 0 0; 
  font-family:'Ubuntu', sans-serif;
}


@media only screen and (max-width: 600px)
{
  .profile_name_nav{
    display: none;
  }  
}