:root {
  --app-bg-dark: #17141d;
  --app-bg-before: #17141d;
  --app-bg-before-2: #100E17;
  --nav-link: #5e6a81;
  --list-item-hover: #0c1635;
  --main-color: #eee;
  --secondary-color: #5e6a81;
  --color-light: rgba(52, 129, 210, .2);
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg: #fed8b3;
  --draft-icon: #e9780e;
  --gray-links: #b2b2b2;
  --active-tab: #170058;
  --color-profile: #CFCFCF;
  --profile-false: #450400;
  --profile-true: #004103;
}
.menu-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_name_nav{
  margin: 2px 10px 0 0; 
  font-family:'Ubuntu', sans-serif;
}

.menu-button-wrapper a {
  text-decoration: none;
}
svg:not(:root).svg-inline--fa {
  font-size: 20px;
}
.modal_con {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  transition: all .4s;
}

.modal_con:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  width: 835px;
  height: 440px;
  margin: auto 0;
  border-radius: 10px;
  background-color: transparent;
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 10px;
  color: var(--gray-links);
  text-decoration: none;
  background-color: var(--app-bg-before-2);
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 30px;
}
body .modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
}
body .modal-container input#tab1,body .modal-container input#tab2  {
  display: none;
}
body .modal-container input#tab1:checked ~ .modal-content-container #c1 {
  opacity: 1;
}
body .modal-container input#tab2:checked ~ .modal-content-container #c2 {
  opacity: 1;

}
.profile-delete{
  width: 36px;
}
.profile-delete img{
  width: 20px;
  height: 20px;
  margin: 8px;
}
.profile-delete,.profile-header{
  display: inline-block;
  height: 36px;
  line-height: 36px;
  background: var(--app-bg-before-2);
  margin-right: 15px;
  position: relative;
  border-radius: 10px;
  
  transition: 0.25s background ease;
}
.modal-container label.profile-header {
  font-size: 16px;
  line-height: 36px;
  width: calc(100% - 102px);
  width: -moz-calc(100% - 102px);
  text-align: center;
  color: var(--color-profile);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 500;  
}
body .modal-container label:hover::after {
  opacity: 1;
}
body .modal-container .modal-content-container {
  background: var(--app-bg-before-2);
  position: relative;
  height: 90%;
  font-size: 16px;
  border-radius: 10px;
}
body .modal-container .modal-content-container .modal-content {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 0.25s ease;
  color: var(--gray-links);
}
body .modal-container .modal-content-container .modal-content h3 {
  font-weight: 200;
  margin: 10px 0;
}
body .modal-container .modal-content-container .modal-content p {
  margin: 10px 0;
}
body .modal-container .modal-modal-content-container .modal-content p{
  font-size: 13px;
}

.modal-content{
  display: flex;
  justify-content: space-between;
}

.btn-info-img{
  border-radius: 50%;
  border: 0;
  background: transparent;
  margin: 0 auto;
}
.btn-info-img, .btn-info-img img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-clip: border-box;
}

.profile-main-info{
  width: 250px;
  background-color: var(--app-bg-dark);
  border-radius: 15px 0px 0px 15px;
  height: 397px;
  padding: 25px 20px;
}

.profile-main-info h4{
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: var(--gray-links);
  margin-top: 10px;
}

.profile-main-info input,.profile-status{
  height: 36px;
  width: 100%;
  background: var(--app-bg-before-2);
  border: none;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 0 15px;
}

.profile-status{
  display: flex;
  align-items: center;
}

.profile-status span{
  color: var(--nav-link);
  margin-right: 5px;
}

.profile-main-info input,.profile-main-info input::placeholder,.profile-status{
  color: var(--gray-links);
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

input.profile-input-first{
  margin-top: 20px;
}

.date-birth {
  display: flex;
  justify-content: space-between;
}

.date-birth input:first-child{
  width: 125px;
  margin-right: 15px;
}

.profile-exit-change-data{
  display: flex;
  justify-content: space-between;
}

.profile-exit,.profile-change-data{
  height: 30px;
  border: 0;
  padding: 0 15px;
  border-radius: 8px;
  color: var(--gray-links);
  font-size: 15px;
}

.profile-exit, .profile-exit a{
  background-color: var(--profile-false);
  color: var(--gray-links);
}

.profile-change-data{
  background-color: var(--profile-true);
}

.profile-other-info{
  width: 100%;
  padding: 5px 25px;
}
.profile-about-info textarea{
  min-width: 100%;
  height: 110px;
  background-color: var(--app-bg-dark);
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  color: var(--gray-links);
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.profile-change-password{
  width: 100%;
  padding: 0;
}

.merge-change-password{
  display: flex;
  justify-content: space-between;
}

.merge-change-password input{
  width: 210px;
  height: 36px;
  background: var(--app-bg-dark);
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  color: var(--gray-links);
  font-size: 16px;
}
.merge-change-password button{
  padding: 0 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--profile-true);
  color: var(--gray-links);
  font-size: 15px;
}

#c1{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-leave-always{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.profile-leave-always-yes, .profile-leave-always-no{
  height: 36px;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  margin: 0 7.5px;
  color: var(--gray-links);
  font-size: 15px;
}

.profile-leave-always-yes{
  background-color: var(--profile-false);
}

.profile-leave-always-no{
  background-color: var(--profile-true);
}