.hamburger {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .hamburger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }
  .hamburger .hamburger-input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
  .menu-button-wrapper .item-list {
    position: absolute;
    top: 50px;
    transform-origin: center;
    transition: all 0.4s cubic-bezier(0.54, -0.1, 0.57, 0.57);
    background-color: #030303;
    color: #fff;
    width: 150px;
    height: 130px;
    right: -100px;
    padding: 15px 0;
    text-align: left;
    border-radius: 10px;
    opacity: 0;
    user-select: none;
  }
  .menu-button-wrapper .menu-button {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  
  .icon-wrapper{
      width: 30px;
      height: 30px;
  }
  
  .menu-button:checked ~ .item-list {
    transform: translateX(-100px) scale(1);
    border-radius: 10px;
    opacity: 1;
    user-select: auto;
  }