:root {
    --menu-width: 37.5em;
    /* Width of menu */
    --items: 4;
    /* Number of items you have */
    --item-width: calc(var(--menu-width) / var(--items));
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #100e17;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    color: #eee;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    height: 50px;
    margin: auto;
    text-align: center;
    z-index: 99999;
}
.pagination__dot {
position: relative;
width: 50px;
height: 50px;
background: #1d1d1d;
border-radius: 15px;
display: inline-block;
cursor: pointer;
margin: 0 4px;
transition: 0.3s;

}
.pagination__dot:nth-child(3){
    background-color: #000000;
}

.pagination__dot img{
    padding-top: 4px;
    width: 40px;
}

.pagination__dot:hover {
transition: 0.3s;
background: #444444;
}
.pagination__dot:hover:before {
top: -48px;
opacity: 1;
}
.pagination__dot:hover:after {
top: -18px;
opacity: 1;
}
.pagination__dot:before {
position: absolute;
top: -40px;
left: -20px;
background: #1d1d1d;
width: 90px;
font-family: "Montserrat";
font-size: 14px;
padding: 8px 0;
border-radius: 3px;
content: attr(data-tooltip);
opacity: 0;
transition: 0.3s;
}
.pagination__dot:after {
position: absolute;
width: 0;
height: 0;
top: -10px;
left: 20px;
border-top: 6px solid white;
border-right: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 6px solid transparent;
content: "";
opacity: 0;
transition: 0.3s;
}

.nav-bar  {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
    font-weight: 400;
    padding-top: 20px;
}

.profile {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
}

.profile img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: 4px;
}

.nav-bar div {
    height: 35px;
}
.logo{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 50px;
}
.logo span, .logo a {
    font-size: 16px;
    color: #B2B2B2;
    margin-left: 10px;
    margin-top: 4px;
}


/*===========SIDE BAR===========*/

.merge {
    height: 100vh;
    width: 100%;
    position: relative;
}

nav-bar {
    margin: 0 60px;
    position: absolute;
}

:root {
    --primary-color: rgb(245, 245, 245);
    --secondary-color: #000000;
}


/*====================================================*/

.modules {
    max-height: 90vh;
    width: 100%;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: unset;
    -ms-overflow-style: none;
    scrollbar-width: 0px;
    left: 50px;
    z-index: 1;
}

@media screen and (min-width: 1900px) {
    .card {
        width: 100%;
    }
}

.modules::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.card {
    height: 230px;
    width: 177px;
    background-color: #17141d;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 40px;
    transition: 0.4s ease-out;
    position: relative;
    padding: 15px;
    left: 0px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
}

.card_up{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.level_count{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.level_{
    color: #fd4800;
    text-shadow: 0px 0px 0px #fd4800, 0 0 0.5em #fd4800;
}
.count_{
    color: #00fd00;
    text-shadow: 0px 0px 0px #00fd00, 0 0 0.5em #00fd00;
}
.card_middle{
    margin-top: 20px;
}
.card_middle h3,.card_middle p{
    text-align: center;
}
.card_middle img{
    margin-left: 28%;  
    margin-bottom: 7px; 
}

.card_down{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #B6B6B6;
    margin-top: 20px;
}
.card_down a{
   display: flex;
   align-items: center;
   color: #B6B6B6;
}

.card_middle p.tag {
    color: #B6B6B6;
    font-size: 14px;
    margin-top: 7px;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
    box-shadow: 0rem 0 1rem rgba(0, 0, 0, 0.664);
}

